@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
}

p {
  font-family: 'Montserrat', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-page);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: #1e12a4 !important;
}

.row {
  padding: 3em 30em 3em 30em
}

@media (max-width: 1800px) {
  .row {
    padding-left: 25em;
    padding-right: 25em;
  }
}

@media (max-width: 1600px) {
  .row {
    padding-left: 20em;
    padding-right: 20em;
  }
}

@media (max-width: 1400px) {
  .row {
    padding: 1em 10em 1em 10em;
  }
}

@media (max-width: 1100px) {
  .row {
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media (max-width: 768px) {
  .row {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.logo {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  object-fit: cover;
}

.fs-0 {
  font-size: 40pt;
}

.fs-7 {
  font-size: 8pt;
}

.mvh-75 {
  max-height: 75vh;
}

.mvh-100 {
  max-height: 100vh;
}

.object-cover {
  object-fit: cover;
}

.bg-grey {
  background-color: #dddddd;
}

.underline {
  text-decoration: underline;
}

.text-shadow {
  text-shadow: 1px 1px 8px #000000;
}

.aspect-1-1 {
  aspect-ratio: 1/1;
}

.fit-cover {
  object-fit: cover;
}

.ease {
  transition: ease-in-out .5s;
}